<?xml version="1.0" encoding="UTF-8"?>
<suite name="Syllabus" parallel="false">
    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>
    <test name="TempTest">
        <groups>
            <run>
                <include name = "smoke"/>
            </run>
        </groups>
        <packages>
            <package name="temp_test" />
        </packages>
    </test>
</suite>
