<?xml version="1.0" encoding="UTF-8"?>
<suite name="Syllabus" parallel="false">
    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>
    <test name="TempTest">
        <groups>
            <run>
                <include name = "smoke"/>
            </run>
        </groups>
        <classes>
            <class name="temp_test.TempTest" />
        </classes>
    </test>
</suite>
