<?xml version="1.0" encoding="UTF-8"?>
<suite name="Syllabus" parallel="methods">
    <listeners>
        <listener class-name="listeners.TestListener"></listener>
    </listeners>
    <test name="TempTest">
        <parameter name="browserName" value="Chrome"></parameter>
        <classes>
            <class name="temp_test.TempTest" />
        </classes>
    </test>
</suite>
